numpy>=1.26
scipy>=1.11
matplotlib>=1.5.3
corner>=2.0
cython>=0.23
astropy>=1.1.2
emcee>=3.0.0
pandas>=0.20.0
nbsphinx==0.9.3
nbconvert==7.17.1
mistune==3.3.3
jupyter_client
ipykernel
pybind11
sphinx_rtd_theme
mock